<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
  <link href="@Url.Content("~/extjs/resources/css/ext-all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Resource/icons/icon.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/extjs/ext-all.js")" type="text/javascript"></script>    
    @*<script src="@Url.Content("~/extjs/bootstrap.js")" type="text/javascript" charset="utf-8"></script>*@
    <script src="@Url.Content("~/extjs/locale/ext-lang-zh_CN.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Resource/js/json2.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Resource/js/ExtUx.js")" type="text/javascript" charset="gb2312"></script>  
    
    @RenderSection("ref", false)
     
    @RenderSection("script", false)

</head>
<body>
  
 @RenderBody()
 
</body>
</html>
